.Rproj.user
.Rhistory
.RData
.Ruserdata
part3_using_STOCfree_model/JAGS_model.txt
part3_using_STOCfree_model/using_STOCfree_package_cache/html/__packages
part3_using_STOCfree_model/using_STOCfree_package_cache/html/building STOCfree_data object_3ae7dafa6814262256fa1f59ef7a39e8.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/building STOCfree_data object_3ae7dafa6814262256fa1f59ef7a39e8.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/building STOCfree_data object_3ae7dafa6814262256fa1f59ef7a39e8.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/creates folder to store model output if not present_e509f16f601e595927e3077c760d19ab.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/creates folder to store model output if not present_e509f16f601e595927e3077c760d19ab.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/creates folder to store model output if not present_e509f16f601e595927e3077c760d19ab.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/extract data herd i_7d4f3bd818635d2509504e0f31d07c79.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/extract data herd i_7d4f3bd818635d2509504e0f31d07c79.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/extract data herd i_7d4f3bd818635d2509504e0f31d07c79.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/Gelman-rubin diagnostics_e823b43606fabe700e7c05ef0b62b606.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/Gelman-rubin diagnostics_e823b43606fabe700e7c05ef0b62b606.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/Gelman-rubin diagnostics_e823b43606fabe700e7c05ef0b62b606.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/herd_test_data_1_68156d82446b846b6bdf813a720918ee.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/herd_test_data_1_68156d82446b846b6bdf813a720918ee.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/herd_test_data_1_68156d82446b846b6bdf813a720918ee.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/herd_test_data_2b2771a767fcfe6c2f7a2b1a8ecb1fcb.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/herd_test_data_2b2771a767fcfe6c2f7a2b1a8ecb1fcb.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/herd_test_data_2b2771a767fcfe6c2f7a2b1a8ecb1fcb.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/herdBTM data_83a528a06740136d47602ee773e29b3b.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/herdBTM data_83a528a06740136d47602ee773e29b3b.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/herdBTM data_83a528a06740136d47602ee773e29b3b.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/infection dynamics priors_c4105f9be8ac875fad1333aacdc881dc.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/infection dynamics priors_c4105f9be8ac875fad1333aacdc881dc.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/infection dynamics priors_c4105f9be8ac875fad1333aacdc881dc.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/install betadistapp_c50081afa0abe6d56f3df1b533127db4.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/install betadistapp_c50081afa0abe6d56f3df1b533127db4.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/install betadistapp_c50081afa0abe6d56f3df1b533127db4.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/installing the STOCfree package_73fb8821a7290e32219ef2e93c76796f.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/installing the STOCfree package_73fb8821a7290e32219ef2e93c76796f.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/installing the STOCfree package_73fb8821a7290e32219ef2e93c76796f.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/JAGS model compilation_d45295739cc3b00d637ac30db48ecc3e.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/JAGS model compilation_d45295739cc3b00d637ac30db48ecc3e.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/JAGS model compilation_d45295739cc3b00d637ac30db48ecc3e.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/loading predicted probabilities of infection_16781ffc71fa72916f419298e0071a40.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/loading predicted probabilities of infection_16781ffc71fa72916f419298e0071a40.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/loading predicted probabilities of infection_16781ffc71fa72916f419298e0071a40.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/packages_d8df08dd4707640e95cef843493e68b1.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/packages_d8df08dd4707640e95cef843493e68b1.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/packages_d8df08dd4707640e95cef843493e68b1.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/parameter traceplots_d78022951a4c6a78266d652a4cec56c9.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/parameter traceplots_d78022951a4c6a78266d652a4cec56c9.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/parameter traceplots_d78022951a4c6a78266d652a4cec56c9.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plot infection dynamics priors_065e816df801a489ed7c600a09d6e6c9.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plot infection dynamics priors_065e816df801a489ed7c600a09d6e6c9.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plot infection dynamics priors_065e816df801a489ed7c600a09d6e6c9.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plot test characteristics_2b26ca16aebacf697fa417e81ed9c812.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plot test characteristics_2b26ca16aebacf697fa417e81ed9c812.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plot test characteristics_2b26ca16aebacf697fa417e81ed9c812.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting overall predicted probabilities of infection_f49d0931b20f3908208d0e31b01fc201.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting overall predicted probabilities of infection_f49d0931b20f3908208d0e31b01fc201.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting overall predicted probabilities of infection_f49d0931b20f3908208d0e31b01fc201.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting predicted probabilities of infection for 3 herds_94bcea68fb74c30fc365325bca92973f.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting predicted probabilities of infection for 3 herds_94bcea68fb74c30fc365325bca92973f.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting predicted probabilities of infection for 3 herds_94bcea68fb74c30fc365325bca92973f.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting predicted probabilities of infection for 4 herds_4ba0c4e8096027e9c7b806c8278086ce.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting predicted probabilities of infection for 4 herds_4ba0c4e8096027e9c7b806c8278086ce.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting predicted probabilities of infection for 4 herds_4ba0c4e8096027e9c7b806c8278086ce.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting predicted probabilities of infection for each herd individually_13056e4208c60ba1f32bbc80e3d7393a.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting predicted probabilities of infection for each herd individually_13056e4208c60ba1f32bbc80e3d7393a.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting predicted probabilities of infection for each herd individually_13056e4208c60ba1f32bbc80e3d7393a.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting predicted probabilities of infection for herd 29_3c6070ffb76c4424d76b514ed7f7f926.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting predicted probabilities of infection for herd 29_3c6070ffb76c4424d76b514ed7f7f926.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting predicted probabilities of infection for herd 29_3c6070ffb76c4424d76b514ed7f7f926.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting predicted probabilities of infection for herd 30_4b129f3041c8106dd0e8321bd80539fb.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting predicted probabilities of infection for herd 30_4b129f3041c8106dd0e8321bd80539fb.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting predicted probabilities of infection for herd 30_4b129f3041c8106dd0e8321bd80539fb.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting predicted probabilities of infection for herd 46_5f44a89a06ac657cfe0263a44557a90a.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting predicted probabilities of infection for herd 46_5f44a89a06ac657cfe0263a44557a90a.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting predicted probabilities of infection for herd 46_5f44a89a06ac657cfe0263a44557a90a.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting predicted probabilities of infection for herd 68_63c69069f3b23940db45a59b9e5f886a.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting predicted probabilities of infection for herd 68_63c69069f3b23940db45a59b9e5f886a.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting predicted probabilities of infection for herd 68_63c69069f3b23940db45a59b9e5f886a.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting predicted probabilities of infection for herd 83_3a0d2d0a6194346a9af6d9275b2fde9e.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting predicted probabilities of infection for herd 83_3a0d2d0a6194346a9af6d9275b2fde9e.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting predicted probabilities of infection for herd 83_3a0d2d0a6194346a9af6d9275b2fde9e.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting predicted probabilities of infection for specific herds_364814f5f133233b05f96f80248b37d1.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting predicted probabilities of infection for specific herds_364814f5f133233b05f96f80248b37d1.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/plotting predicted probabilities of infection for specific herds_364814f5f133233b05f96f80248b37d1.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/posterior parameter density_7302812b9679c671bf08e2596a411a88.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/posterior parameter density_7302812b9679c671bf08e2596a411a88.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/posterior parameter density_7302812b9679c671bf08e2596a411a88.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/run shiny_beta_6622af9c4231ddf7e209f7cd76f5e59d.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/run shiny_beta_6622af9c4231ddf7e209f7cd76f5e59d.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/run shiny_beta_6622af9c4231ddf7e209f7cd76f5e59d.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/set infection dynamics priors_feb3b1def1fcb1924cdc6c9d040d9e25.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/set infection dynamics priors_feb3b1def1fcb1924cdc6c9d040d9e25.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/set infection dynamics priors_feb3b1def1fcb1924cdc6c9d040d9e25.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/show infection dynamics priors_ccfb1668e1b43820143570a44d4a4444.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/show infection dynamics priors_ccfb1668e1b43820143570a44d4a4444.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/show infection dynamics priors_ccfb1668e1b43820143570a44d4a4444.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/STOCfree_data herd_id_corresp_1_ee41cf3856ffa864350201f4e34eae6c.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/STOCfree_data herd_id_corresp_1_ee41cf3856ffa864350201f4e34eae6c.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/STOCfree_data herd_id_corresp_1_ee41cf3856ffa864350201f4e34eae6c.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/STOCfree_data herd_id_corresp_d97df018398baeb80f854dbeae5208bb.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/STOCfree_data herd_id_corresp_d97df018398baeb80f854dbeae5208bb.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/STOCfree_data herd_id_corresp_d97df018398baeb80f854dbeae5208bb.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/STOCfree_data test_data_1_acb4ddc9f3251ccd70a281de912d79fd.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/STOCfree_data test_data_1_acb4ddc9f3251ccd70a281de912d79fd.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/STOCfree_data test_data_1_acb4ddc9f3251ccd70a281de912d79fd.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/STOCfree_data test_data_388c0adfcad91eec915250164564b774.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/STOCfree_data test_data_388c0adfcad91eec915250164564b774.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/STOCfree_data test_data_388c0adfcad91eec915250164564b774.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/STOCfree_data var_names_9919de82def3528e05c8acc369968898.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/STOCfree_data var_names_9919de82def3528e05c8acc369968898.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/STOCfree_data var_names_9919de82def3528e05c8acc369968898.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-1_180cb1dbffcaeb2e3924d2f3e76bcca7.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-1_180cb1dbffcaeb2e3924d2f3e76bcca7.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-1_180cb1dbffcaeb2e3924d2f3e76bcca7.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-10_4277f7038f3a081cb6274a0d0c0aec53.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-10_4277f7038f3a081cb6274a0d0c0aec53.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-10_4277f7038f3a081cb6274a0d0c0aec53.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-11_85a78750ab07f59e05c45811d10dc16d.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-11_85a78750ab07f59e05c45811d10dc16d.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-11_85a78750ab07f59e05c45811d10dc16d.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-12_22df31faf92384f7631174a16553c660.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-12_22df31faf92384f7631174a16553c660.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-12_22df31faf92384f7631174a16553c660.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-13_2f4d50980ff67178129b8fdf10c99381.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-13_2f4d50980ff67178129b8fdf10c99381.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-13_2f4d50980ff67178129b8fdf10c99381.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-14_c5b476485388319cb14a7cf513c04109.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-14_c5b476485388319cb14a7cf513c04109.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-14_c5b476485388319cb14a7cf513c04109.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-15_fa2284535416362d7a5d635bff39a288.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-15_fa2284535416362d7a5d635bff39a288.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-15_fa2284535416362d7a5d635bff39a288.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-16_544a3f24a7712739faf7d5b42c95b1cc.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-16_544a3f24a7712739faf7d5b42c95b1cc.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-16_544a3f24a7712739faf7d5b42c95b1cc.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-2_5886b2c1512b5b78a130ce13694847fc.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-2_5886b2c1512b5b78a130ce13694847fc.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-2_5886b2c1512b5b78a130ce13694847fc.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-3_ceca0c392842cb96281762f0ea92267a.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-3_ceca0c392842cb96281762f0ea92267a.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-3_ceca0c392842cb96281762f0ea92267a.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-4_a974c2923dcd2cec796c59d73c8b86f6.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-4_a974c2923dcd2cec796c59d73c8b86f6.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-4_a974c2923dcd2cec796c59d73c8b86f6.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-5_0cee834648b7ce12a6ca98f7aa1b2b75.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-5_0cee834648b7ce12a6ca98f7aa1b2b75.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-5_0cee834648b7ce12a6ca98f7aa1b2b75.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-6_e1ebcb91e1c4a0ac354820f64b390346.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-6_e1ebcb91e1c4a0ac354820f64b390346.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-6_e1ebcb91e1c4a0ac354820f64b390346.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-7_3ba9cb0b9b99f22aba01c229e8146bfe.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-7_3ba9cb0b9b99f22aba01c229e8146bfe.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-7_3ba9cb0b9b99f22aba01c229e8146bfe.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-8_e4290547552a492e1d5ff6cf1905d900.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-8_e4290547552a492e1d5ff6cf1905d900.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-8_e4290547552a492e1d5ff6cf1905d900.rdx
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-9_5f401d3ddfa40a2fa5a2cfffce2c0766.RData
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-9_5f401d3ddfa40a2fa5a2cfffce2c0766.rdb
part3_using_STOCfree_model/using_STOCfree_package_cache/html/unnamed-chunk-9_5f401d3ddfa40a2fa5a2cfffce2c0766.rdx
